

body{
    background-color: black;
    color: white;
    font-family: 'Libre Baskerville', serif;
}

img{
    border: 5px solid white;
    width: 100%;
}

.meme{
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

h2{
    font-size: 1.6rem;
    text-transform: uppercase;
}
p{
    font-size: 0.5rem;
    font-weight: 100;
}